<div class="app-background"></div>
<div class="app-container">
  <h1>Connect four !</h1>

  <div class="app-container__board">
    <div class="board__col">
      <div class="board-tile"></div>
      <div class="board-tile"></div>
      <div class="board-tile"></div>
      <div class="board-tile"></div>
      <div class="board-tile"></div>
      <div class="board-tile"></div>
    </div>
    <div class="board__col">
      <div class="board-tile"></div>
      <div class="board-tile"></div>
      <div class="board-tile"></div>
      <div class="board-tile"></div>
      <div class="board-tile"></div>
      <div class="board-tile"></div>
    </div>
    <div class="board__col">
      <div class="board-tile"></div>
      <div class="board-tile"></div>
      <div class="board-tile"></div>
      <div class="board-tile"></div>
      <div class="board-tile"></div>
      <div class="board-tile"></div>
    </div>
    <div class="board__col">
      <div class="board-tile"></div>
      <div class="board-tile"></div>
      <div class="board-tile"></div>
      <div class="board-tile"></div>
      <div class="board-tile"></div>
      <div class="board-tile"></div>
    </div>
    <div class="board__col">
      <div class="board-tile"></div>
      <div class="board-tile"></div>
      <div class="board-tile"></div>
      <div class="board-tile"></div>
      <div class="board-tile"></div>
      <div class="board-tile"></div>
    </div>
    <div class="board__col">
      <div class="board-tile"></div>
      <div class="board-tile"></div>
      <div class="board-tile"></div>
      <div class="board-tile"></div>
      <div class="board-tile"></div>
      <div class="board-tile"></div>
    </div>
    <div class="board__col">
      <div class="board-tile"></div>
      <div class="board-tile"></div>
      <div class="board-tile"></div>
      <div class="board-tile"></div>
      <div class="board-tile"></div>
      <div class="board-tile"></div>
    </div>
  </div>
</div>

